In [1]:
import pandas as pd
import surprise

In [6]:
rating_df = pd.read_csv('..\dataset\\ratings.csv')

In [9]:
rating_df

          userId  movieId  rating   timestamp
0              1      110     1.0  1425941529
1              1      147     4.5  1425942435
2              1      858     5.0  1425941523
3              1     1221     5.0  1425941546
4              1     1246     5.0  1425941556
...          ...      ...     ...         ...
26024284  270896    58559     5.0  1257031564
26024285  270896    60069     5.0  1257032032
26024286  270896    63082     4.5  1257031764
26024287  270896    64957     4.5  1257033990
26024288  270896    71878     2.0  1257031858

[26024289 rows x 4 columns]

In [13]:
from surprise import Dataset, SVD, Reader, accuracy
from surprise.model_selection import train_test_split
from tqdm import tqdm

reader = Reader(line_format="user item rating") 
data = Dataset.load_from_df(rating_df[['userId', 'movieId', 'rating']], reader=reader)
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)
li = []

In [16]:
for fac in tqdm(range(2, 100, 20)):
    svd = SVD(n_factors = fac)
    svd.fit(trainset)
    li.append(accuracy.rmse(svd.test(testset)))

  0%|          | 0/5 [00:00<?, ?it/s]

RMSE: 0.8376

 40%|████      | 2/5 [06:29<09:49, 196.49s/it]

RMSE: 0.8004
RMSE: 0.7981

 80%|████████  | 4/5 [14:22<03:44, 224.35s/it]

RMSE: 0.7969
RMSE: 0.7966

100%|██████████| 5/5 [18:43<00:00, 224.73s/it]

In [15]:
svd = SVD(n_factors = 40)
svd.fit(trainset)
li.append(accuracy.rmse(svd.test(testset)))

RMSE: 0.7980

In [17]:
li

[0.7979535244345859,
 0.8376321445999734,
 0.8003915168586604,
 0.7980643151026402,
 0.796918999883757,
 0.7965966228230698]