In [29]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/dataset/Ml_Challenge/Used_Cars_Price_Prediction.csv', index_col = 0)
data

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,NaN,1.75
1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [24]:
data.isna().sum()

Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [30]:
def getfirst(data):
    return data.split()[0].lower()

data['brand'] = data['Name'].apply(getfirst)

In [31]:
data = data.drop('New_Price', axis = 1)
data = data.dropna()
data = data.drop('Name', axis = 1)

In [32]:
data['brand'].unique()

array(['maruti', 'hyundai', 'honda', 'audi', 'nissan', 'toyota',
       'volkswagen', 'tata', 'land', 'mitsubishi', 'renault',
       'mercedes-benz', 'bmw', 'mahindra', 'ford', 'porsche', 'datsun',
       'jaguar', 'volvo', 'chevrolet', 'skoda', 'mini', 'fiat', 'jeep',
       'smart', 'ambassador', 'isuzu', 'force', 'bentley', 'lamborghini'],
      dtype=object)

In [44]:
(data['Price'] == 0).sum()

0

In [ ]:
data[['brand', 'Price']].groupby('brand').describe()

In [51]:
# km/kg -> kmpl, tofloat
def mlgtoFloat(data):
    sp = data.split()
    ret = float(sp[0])
    if sp[1] == 'km/kg':
        ret *= 1.40
    return ret

data['Mileage'] = data['Mileage'].apply(mlgtoFloat)
data['Mileage']

0       37.24
1       19.67
2       18.20
3       20.77
4       15.20
        ...
6014    28.40
6015    24.40
6016    14.00
6017    18.90
6018    25.44
Name: Mileage, Length: 5975, dtype: float64

In [53]:
(data['Power'] == 'null bhp').sum()

103

In [56]:
import numpy as np
def bhptoFloat(data):
    sp = data.split()
    if sp[0].isalpha():
        return np.NaN
    else:
        return float(sp[0])

data['Power'] = data['Power'].apply(bhptoFloat)

In [55]:
data['Engine'] = data['Engine'].apply(lambda x : int(x.split()[0]))